@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url("../img/bg.png");
}

.bg-brown {
  background-color: #6F4E37;
}

.container {
  max-width: 960px;
}

.sakofe {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  color: #6F4E37;
}

.baha {
  color: #6F4E37;
}