@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.get {
  text-align: center;
  background-color: #DB7F67;
  margin: 0;
  color: white;
  padding-block: 5px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu {
  display: flex;
}

.logo {
  display: flex;
  gap: 7px;
  align-items: center;
}

.logo p {
  margin: 0;
}

.icons {
  display: flex;
  gap: 20px;
}