@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.red {
  background-color: red;
  height: 100px;
}

.blue {
  background-color: blue;
  height: 100px;
}

.green {
  background-color: green;
  height: 100px;
}