@charset "utf-8";

*,
::before,
::after {
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: #f3f7fa
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header a {
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
  gap: 35px;
  color: gray;
}

li:hover {
  color: rgb(24, 227, 24);
  cursor: pointer;
}

header button {
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px 20px;
  font-weight: 800;
}

.first-button {
  background-color: orange;
  color: white;
  cursor: pointer;
}

.first-button:hover {
  background-color: rgb(201, 145, 41);
}

.first-button i,
.second-button i {
  margin-right: 5px;
}

.second-button {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.second-button:hover {
  background-color: rgb(16, 16, 183);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 200px;
}

.first-main h2 {
  font-size: 70px;
}

.main button {
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px 20px;
  font-weight: 800;
  margin-top: 20px;
}

.third-button {
  background-color: rgb(74, 216, 22);
  color: white;
  cursor: pointer;
}

.third-button:hover {
  background-color: rgb(58, 170, 17);
}

.third-button i,
.fourth-button i {
  margin-right: 5px;
}

.fourth-button {
  background-color: white;
  color: black;
  cursor: pointer;
}

.fourth-button:hover {
  background-color: rgb(234, 253, 255);
}