@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.more {
  background-color: yellow;
}

.main {
  height: 200px;
  width: 300px;
  background-color: red;
}