@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

button {
  font-size: 50px;
  padding: 20px 50px;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

.red {
  background-color: red;
}