@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

.it {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 50px;
  padding-block: 20px;
}

.bir {
  display: flex;
  align-items: center;
  gap: 30px;
}

.iki {
  border: 2px solid #47B2E4;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 500ms;
  cursor: pointer;
}

.iki:hover {
  background-color: #47B2E4;
}

.logo {
  width: 50px;
}

.blue {
  color: white;
  background-color: #37517e;
}

h1 {
  font-size: 48px;
}

.uch {
  font-size: 24px;
  color: rgb(167, 185, 203);
}

.box {
  display: flex;
  padding-bottom: 50px;
}

.fox,
.ox {
  width: 50%;
}

.fox {
  padding-left: 100px;
}

.ox img {
  width: 80%;
}

.box2 {
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #47B2E4;
  color: white;
  border: 0;
  margin-right: 20px;
  transition: background-color 500ms;
  cursor: pointer;
}

.box2:hover {
  background-color: #3d96bf;
}

.rox {
  margin-left: 5cm;
}

.rahman {
  display: flex;
}

.html {
  background-color: #F3F5FA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 70px;
  justify-content: center; */
  padding: 40px 0;
}

.html img {
  height: 120px;
  width: 120px;
}

.wr {
  height: 50px !important;
}

.rampo {
  text-align: center;
  color: #37517E;
}

.div1 {
  display: flex;
  justify-content: space-around;
}

.div2 {
  border: 2px solid #47B2E4;
  padding: 10px 30px;
  background-color: white;
  border-radius: 3px;
  color: #47B2E4;
  cursor: pointer;
  transition: background-color 500ms;
}

.div2:hover {
  background-color: #47B2E4;
  color: white;
}

@media (max-width: 1111px) {
  .div1 {
  display: block;
  }
  
  .ox {
    display: none;
  }
}