@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

.one,
.two,
.three {
  height: 50px;
  width: 200px;
}

.one {
  background-color: #000;
}

.two {
  background-color: #D60000;
}

.three {
  background-color: #F7C800;
} */