@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(40,42,54);
}

pre {
  color: white;
  font-size: 30px;
}

.pink {
  color: purple;
}
.blue {
  color: lightskyblue
}
.yellow {
  color: yellow;
}
.purple{color: pink;}