@charset "UTF-8";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  background-color: #e8e5e480;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 2px;
  border-radius: 20px;
  font-size: 14px;
  margin-top: 25px;
}

header nav .active {
  background-color: white;
  border-radius: 20px;
}

header nav>* {
  padding: 10px 20px;
}

h1 {
  font-size: 70px;
  text-align: center;
  font-weight: 600;
  margin-top: 150px;
  /* padding-inline: 350px; */
}

.ps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.ps>* {
  background-color: #e8e5e480;
  padding: 5px 10px;
  border-radius: 20px;
}

.ps .not-active {
  background-color: transparent;
}