@charset "UTF-8";

body img {
  border-radius: 20px;
}

body b {
  display: flex;
  margin-left: 70px;
  color: blue;
  font-size: 30px;
}

.div1 {
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 10px 20px;
}

ul {
  list-style: none;
  padding: 0;
}

.ul1 {
  display: flex;
  gap: 30px;
}

.ul1 li {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(218, 215, 215);
}

.ul2 {
  padding: 0;
}

li {
  padding: 5px;
}

.others {
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.others1 {
  border: none;
  border-radius: 10px;
}