@charset "UTF-8";

.dashky {
  display: flex;
}

.container {
  height: 200px;
  width: 200px;
  background-color: red;

  /* margin: 10px 30px 50px 70px; */

  /* margin-top: 10px;
  margin-right: 30px;
  margin-left: 70px;
  margin-bottom: 50px; */
}

.container2 {
  height: 200px;
  width: 200px;
  background-color: blue;
}

.container3 {
  height: 200px;
  width: 200px;
  background-color: green;
}