@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: red;
  height: 300px;
  width: 300px;
  box-shadow:
    5px 0px 0px #289FED,
    10px 10px 0px 0px #5FB8FF,
    15px 15px 0px 0px #A1D8FF,
    20px 20px 0px 0px #CAE6FF,
    25px 25px 0px 0px #E1EEFF,
    inset 14px 14px 38px 9px rgba(0, 0, 0, 0);
}