@charset "UTF-8";

/* a {
  color: red;
}

a:hover {
  color: aquamarine;
}

a:visited {
  color: darkorange;
}

a:visited:hover {
  color: purple;
} */

/* a:focus {
  color: red;
  outline: none;
}

input:focus {
  background-color: blue;
  color: white;
} */